*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: Futura, Montserrat, Arial, sans-serif; }

body.page {
  margin-bottom: 0; }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

.offset-heading {
  position: relative; }
  @media (min-width: 1350px) {
    .offset-heading {
      left: -50px; } }

.ic-button {
  display: block;
  background-color: #FFCF2E;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 10px 15px;
  text-align: center;
  margin: 20px auto;
  width: 70%; }

.blue-button {
  background-color: #00A6B2; }

input.gform_button {
  background-color: #FFCF2E;
  padding: 10px 20px 12px;
  color: #003D4E;
  text-transform: uppercase; }

#gform_widget-2 {
  padding: 0 10px;
  border: 1px solid #003D4E;
  border-radius: 4px; }

#masthead .topbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 	5px; }
  @media (min-width: 1440px) {
    #masthead .topbar {
      padding: 0 40px; } }
  #masthead .topbar .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: #E4E8F0;
    padding: 10px 20px; }
    #masthead .topbar .top-nav ul li {
      display: inline-block;
      margin-right: 30px; }
      #masthead .topbar .top-nav ul li a {
        text-transform: uppercase; }
  #masthead .topbar .top-contact {
    padding: 10px 20px; }
    #masthead .topbar .top-contact a {
      color: #003D4E;
      font-weight: bold;
      text-transform: uppercase; }

#masthead .nav-wrapper {
  background: #006699; }

#masthead .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  max-height: 145px;
  color: #fff; }
  @media (max-width: 1440px) {
    #masthead .nav-container {
      padding-right: 25px; } }
  #masthead .nav-container .site-branding {
    overflow: hidden;
    height: 144px; }
    #masthead .nav-container .site-branding .custom-logo-link {
      position: relative;
      top: 24px; }
    #masthead .nav-container .site-branding img {
      max-width: 300px;
      min-width: 70px; }
  #masthead .nav-container .main-navigation {
    width: auto; }
    #masthead .nav-container .main-navigation ul .sub-menu {
      background-color: #006699;
      padding: 15px 0 15px 10px; }
      #masthead .nav-container .main-navigation ul .sub-menu li {
        width: 310px; }
        #masthead .nav-container .main-navigation ul .sub-menu li a {
          width: 100%;
          margin-bottom: 10px;
          margin-left: 15px; }
    #masthead .nav-container .main-navigation li a {
      margin-left: 30px;
      text-transform: uppercase; }

#masthead .topbar nav.main-navigation {
  width: auto; }
  #masthead .topbar nav.main-navigation ul .sub-menu {
    background-color: #E4E8F0;
    padding: 15px 0 15px 10px; }
    #masthead .topbar nav.main-navigation ul .sub-menu li {
      width: 310px; }
      #masthead .topbar nav.main-navigation ul .sub-menu li a {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 15px; }

footer.site-footer {
  background-color: #003D4E;
  padding: 50px 10px;
  color: #fff; }
  footer.site-footer a:hover {
    color: #FFCF2E; }
  footer.site-footer h2 {
    text-transform: uppercase;
    margin-bottom: 35px; }
  footer.site-footer .footer-phone {
    font-size: 2.2rem;
    margin: 50px 0; }
  footer.site-footer .ic-button {
    color: #003D4E;
    margin-left: 0; }
  footer.site-footer #footer-menu {
    margin: 0; }
    footer.site-footer #footer-menu li {
      list-style-type: none;
      margin-bottom: 15px; }
      footer.site-footer #footer-menu li a {
        text-transform: uppercase; }
  footer.site-footer .socials a {
    padding: 6px 9px;
    margin-right: 10px;
    background: #00A6B2;
    display: inline-block; }
  footer.site-footer .socials .fa {
    font-size: 45px; }

.site-info {
  background: #fff;
  color: #333;
  padding: 10px 0 20px;
  font-size: 1.4rem; }
  @media (min-width: 767px) {
    .site-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }

#subfooter-menu {
  margin: 0;
  text-align: center; }
  @media (min-width: 767px) {
    #subfooter-menu {
      text-align: left; } }
  #subfooter-menu li {
    list-style-type: none;
    margin-right: 0; }
    @media (min-width: 767px) {
      #subfooter-menu li {
        display: inline-block; }
        #subfooter-menu li:last-child a {
          border: none; }
        #subfooter-menu li a {
          padding: 0px 10px;
          border-right: 2px solid #333; } }

.credit {
  text-align: center;
  padding-top: 30px; }
  @media (min-width: 767px) {
    .credit {
      padding-top: 0;
      text-align: right;
      padding-right: 20px; }
      .credit br {
        display: none; } }

body.home {
  position: relative; }
  body.home .hero-wrapper {
    background-color: #666;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vw;
    min-height: 150px; }
    body.home .hero-wrapper .hero-container {
      padding: 170px 10px 60px; }
      body.home .hero-wrapper .hero-container h1 {
        color: #FFCF2E;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        width: 500px;
        max-width: 90%; }
  body.home .home-cta-section {
    position: relative;
    z-index: 10;
    min-height: 300px;
    padding: 40px 0; }
    body.home .home-cta-section .home-cta-card {
      min-height: 200px; }
      @media (min-width: 1000px) {
        body.home .home-cta-section .home-cta-card {
          padding: 20px 40px; } }
      body.home .home-cta-section .home-cta-card .home-cta-image-wrapper {
        width: 100%;
        height: 250px;
        background-color: #666;
        overflow: hidden; }
        body.home .home-cta-section .home-cta-card .home-cta-image-wrapper img {
          height: 100%;
          width: auto;
          max-width: none; }
      body.home .home-cta-section .home-cta-card h2 {
        color: #00A6B2;
        text-align: center;
        font-size: 2rem;
        margin: 20px 0;
        text-transform: uppercase;
        font-weight: bold; }
      body.home .home-cta-section .home-cta-card p {
        color: #003D4E; }
      body.home .home-cta-section .home-cta-card .home-cta-button {
        display: block;
        background-color: #FFCF2E;
        color: #003D4E;
        padding: 10px 20px;
        margin: 30px auto;
        width: 215px;
        max-width: 90%;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem; }
  body.home .home-water-solution-section {
    min-height: 200px;
    background-color: #ABD9D6;
    padding: 0 0 40px;
    position: relative; }
    body.home .home-water-solution-section .solution-gradient {
      background: linear-gradient(#fff, #ABD9D6);
      height: 100px; }
    body.home .home-water-solution-section img.water-graphic-home {
      width: 100%;
      height: auto;
      position: absolute;
      top: -165px;
      left: 0; }
      @media (max-width: 1500px) {
        body.home .home-water-solution-section img.water-graphic-home {
          top: -115px; } }
      @media (max-width: 992px) {
        body.home .home-water-solution-section img.water-graphic-home {
          top: -65px; } }
      @media (max-width: 767px) {
        body.home .home-water-solution-section img.water-graphic-home {
          top: -40px; } }
      @media (max-width: 360px) {
        body.home .home-water-solution-section img.water-graphic-home {
          top: -30px; } }
    body.home .home-water-solution-section h2 {
      color: #003D4E;
      text-align: center;
      font-size: 2rem;
      margin: 20px 0 60px;
      text-transform: uppercase;
      font-weight: bold; }
      @media (min-width: 1350px) {
        body.home .home-water-solution-section h2 {
          text-align: left; } }
    body.home .home-water-solution-section p {
      color: #003D4E; }
    body.home .home-water-solution-section .ic-button {
      margin: 50px 0; }
  body.home .home-blog-section {
    min-height: 300px;
    padding: 40px 0; }
    body.home .home-blog-section h2 {
      font-size: 2.6rem;
      color: #003D4E;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 40px; }
    body.home .home-blog-section h3 {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px; }
    body.home .home-blog-section .ic-blog-card {
      display: block; }
    body.home .home-blog-section .ic-home-blog-img-wrapper {
      height: 230px;
      overflow: hidden; }
      body.home .home-blog-section .ic-home-blog-img-wrapper img {
        width: 100%; }
    body.home .home-blog-section .ic-home-blog-copy-card {
      background-color: #00A6B2;
      padding: 30px 30px;
      color: #fff; }

body.page-template-default,
body.page-template-page-no-sidebar {
  position: relative; }
  body.page-template-default #content,
  body.page-template-page-no-sidebar #content {
    padding-top: 50px;
    padding-bottom: 50px; }
  body.page-template-default .page-content-wrapper,
  body.page-template-page-no-sidebar .page-content-wrapper {
    margin-bottom: 130px;
    position: relative;
    z-index: 10; }
  body.page-template-default h1.entry-title,
  body.page-template-page-no-sidebar h1.entry-title {
    color: #00A6B2;
    font-size: 2.5rem;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: bold; }
  body.page-template-default h2, body.page-template-default h3,
  body.page-template-page-no-sidebar h2,
  body.page-template-page-no-sidebar h3 {
    color: #00A6B2;
    text-transform: uppercase;
    font-weight: bold; }
  body.page-template-default .home-water-solution-section,
  body.page-template-page-no-sidebar .home-water-solution-section {
    min-height: 200px;
    background-color: #a0daf4;
    padding: 0 0 40px;
    position: relative; }
    body.page-template-default .home-water-solution-section .solution-gradient,
    body.page-template-page-no-sidebar .home-water-solution-section .solution-gradient {
      background: linear-gradient(#fff, #a0daf4);
      height: 100px; }
    body.page-template-default .home-water-solution-section img.water-graphic-home,
    body.page-template-page-no-sidebar .home-water-solution-section img.water-graphic-home {
      width: 100%;
      height: auto;
      position: absolute;
      top: -165px;
      left: 0; }
      @media (max-width: 1500px) {
        body.page-template-default .home-water-solution-section img.water-graphic-home,
        body.page-template-page-no-sidebar .home-water-solution-section img.water-graphic-home {
          top: -115px; } }
      @media (max-width: 992px) {
        body.page-template-default .home-water-solution-section img.water-graphic-home,
        body.page-template-page-no-sidebar .home-water-solution-section img.water-graphic-home {
          top: -65px; } }
      @media (max-width: 767px) {
        body.page-template-default .home-water-solution-section img.water-graphic-home,
        body.page-template-page-no-sidebar .home-water-solution-section img.water-graphic-home {
          top: -40px; } }
      @media (max-width: 360px) {
        body.page-template-default .home-water-solution-section img.water-graphic-home,
        body.page-template-page-no-sidebar .home-water-solution-section img.water-graphic-home {
          top: -30px; } }
    body.page-template-default .home-water-solution-section h2,
    body.page-template-page-no-sidebar .home-water-solution-section h2 {
      color: #003D4E;
      text-align: left;
      font-size: 2rem;
      margin: 20px 0 60px;
      text-transform: uppercase;
      font-weight: bold; }
      @media (min-width: 1350px) {
        body.page-template-default .home-water-solution-section h2,
        body.page-template-page-no-sidebar .home-water-solution-section h2 {
          text-align: left; } }
    body.page-template-default .home-water-solution-section p,
    body.page-template-page-no-sidebar .home-water-solution-section p {
      color: #003D4E; }
    body.page-template-default .home-water-solution-section .ic-button,
    body.page-template-page-no-sidebar .home-water-solution-section .ic-button {
      margin: 50px 0; }
  body.page-template-default .home-blog-section,
  body.page-template-page-no-sidebar .home-blog-section {
    min-height: 300px;
    padding: 40px 0; }
    body.page-template-default .home-blog-section h2,
    body.page-template-page-no-sidebar .home-blog-section h2 {
      font-size: 2.6rem;
      color: #003D4E;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 40px; }
    body.page-template-default .home-blog-section h3,
    body.page-template-page-no-sidebar .home-blog-section h3 {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px; }
    body.page-template-default .home-blog-section .ic-blog-card,
    body.page-template-page-no-sidebar .home-blog-section .ic-blog-card {
      display: block; }
    body.page-template-default .home-blog-section .ic-home-blog-img-wrapper,
    body.page-template-page-no-sidebar .home-blog-section .ic-home-blog-img-wrapper {
      height: 230px;
      overflow: hidden; }
      body.page-template-default .home-blog-section .ic-home-blog-img-wrapper img,
      body.page-template-page-no-sidebar .home-blog-section .ic-home-blog-img-wrapper img {
        width: 100%; }
    body.page-template-default .home-blog-section .ic-home-blog-copy-card,
    body.page-template-page-no-sidebar .home-blog-section .ic-home-blog-copy-card {
      background-color: #00A6B2;
      padding: 30px 30px;
      color: #fff; }

#menu-sidebar-menu {
  margin-top: 30px;
  margin-left: 0; }
  #menu-sidebar-menu li {
    list-style-type: none;
    margin-bottom: 15px; }
    #menu-sidebar-menu li a:hover {
      color: #00A6B2; }

body.single-ic_product {
  position: relative; }
  body.single-ic_product #content {
    padding-top: 50px;
    padding-bottom: 50px; }
  body.single-ic_product .site-main h1 {
    color: #00A6B2;
    font-size: 2.5rem;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: bold; }
  body.single-ic_product .site-main .info-wrapper {
    border: 2px solid #add;
    padding: 20px 15px;
    border-radius: 6px;
    margin-top: 40px;
    margin-bottom: 40px;
    background: linear-gradient(to left, #fff, #a0daf4); }
    body.single-ic_product .site-main .info-wrapper h2 {
      margin-bottom: 30px; }
