// COLORS
$text-color-dark: #003D4E;
$text-color-normal: #333;
$text-color-light: #8e8f93;

$brand-color: #006699;  //  blue
// $logo-bg: #0060AA;  // this is the bg color of the logo image

$highlight-color: #FFCF2E;
$aqua-text: #00A6B2;
$dark-blue: #013066;


$header-bg: #006699;
$topbar-bg: #E4E8F0;  // light grey
$footer-bg: #003D4E; // 

$button: #30B0D5;
$button-hover: #5BC0DE;

// $gradient-dark: #521a97;
// $gradient-light: #f1ce04;
// $gradient-mid: #e80942;

$card-border-color: #ddd;